# Astro build output
dist/

# dependencies
node_modules/

# Astro generated types/cache
.astro/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# environment variables
.env
.env.production

# macOS
.DS_Store
